.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#searchInput {
    margin-bottom: 20px;
    padding: 12px 20px 12px 40px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    /* Colore del bordo */
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    /* Colore di sfondo che varia con il tema */
    color: var(--text-color);
    /* Colore del testo che varia con il tema */
    background-image: url('https://cdn-icons-png.flaticon.com/512/622/622669.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    transition: all 0.3s ease;
}

/* Effetto al focus */
#searchInput:focus {
    border-color: #4A90E2;
    /* Colore del bordo quando in focus */
    outline: none;
    background-color: #fff;
    /* Colore di sfondo in focus */
}

/* Tema scuro */
.dark-theme #searchInput {
    border: 1px solid #555;
    /* Colore del bordo nel tema scuro */
    background-color: #333;
    /* Colore di sfondo scuro */
    color: #f1f1f1;
    /* Colore del testo chiaro */
}

/* Focus nel tema scuro */
.dark-theme #searchInput:focus {
    border-color: #4A90E2;
    /* Colore del bordo in focus nel tema scuro */
    outline: none;
    background-color: #444;
    /* Colore di sfondo in focus nel tema scuro */
}

#list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

#list li {
    margin: 10px 0;
    padding: 15px;
    background-color: var(--background-color);
    /* Colore di sfondo che varia con il tema */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    /* Cambia il cursore per indicare la cliccabilità */
    transition: background-color 0.3s, transform 0.3s;
    /* Transizione per gli effetti */
    color: var(--text-color);
    /* Colore del testo che varia con il tema */
}

/* Effetto hover per il tema chiaro */
#list li:hover {
    background-color: #e9e9e9;
    /* Colore di sfondo per l'hover nel tema chiaro */
    transform: translateY(-2px);
    /* Effetto di sollevamento */
}

/* Tema scuro */
.dark-theme #list li {
    background-color: #484848;
    /* Colore di sfondo nel tema scuro */
    color: #f1f1f1;
    /* Colore del testo nel tema scuro */
}

/* Effetto hover per il tema scuro */
.dark-theme #list li:hover {
    background-color: #3a3a3a;
    /* Colore di sfondo per l'hover nel tema scuro */
    transform: translateY(-2px);
    /* Effetto di sollevamento */
}

.letter-header {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--text-color);
    /* Colore di testo che varia con il tema */
    text-align: left;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    cursor: default;
    transition: color 0.3s ease;
    /* Aggiungi una transizione per un effetto più fluido */
}

.letter-header::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-top: 5px;
}

.canto-details {
    display: none;
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
    display: none;
    /* Hidden by default */
    padding: 10px;
    border-top: 1px solid #ccc;
    /* Optional visual separation */
    color: var(--text-color);

}

.link-button {
    /* Posiziona il link a destra */
    text-decoration: none;
    /* Rimuove la sottolineatura */
    color: #4A90E2;
}

.link-button:hover {
    text-decoration: underline;
    /* Sottolinea il link al passaggio del mouse */
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.filter-container label {
    font-weight: bold;
}

.filter-container input,
.filter-container select {
    padding: 5px;
    font-size: 16px;
}

.filters-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 900px;
}

.filters-container label {
    font-weight: bold;
    color: var(--text-color);
    /* Colore del testo coerente con il tema */
}

.filters-container input,
.filters-container select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease;
    width: 100%;
    /* Adatta alla larghezza massima */
}

/* Effetto hover sugli input */
.filters-container input:hover,
.filters-container select:hover {
    border-color: #4A90E2;
    /* Cambia colore del bordo al passaggio del mouse */
}

.filters-container input:focus,
.filters-container select:focus {
    outline: none;
    border-color: #4A90E2;
}

/* Tema scuro */
.dark-theme .filters-container input,
.dark-theme .filters-container select {
    border: 1px solid #555;
    background-color: #333;
    color: #f1f1f1;
}

.dark-theme .filters-container input:focus,
.dark-theme .filters-container select:focus {
    border-color: #4A90E2;
    background-color: #444;
}


#resetFiltersBtn {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #e74c3c;
    /* Colore del pulsante */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

/* Effetto hover per il pulsante */
#resetFiltersBtn:hover {
    background-color: #c0392b;
    /* Cambia colore al passaggio del mouse */
}

/* Nascondi i filtri di default su schermi piccoli */
.filters-container-wrapper {
    position: relative;
}

@media (max-width: 768px) {
    #filter_button_desktop {
        display: none;
    }
    /* Nascondi i filtri inizialmente */
    .filters-container {
        display: none;
        flex-direction: column;
        background-color: var(--background-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 50px;
        z-index: 1000;
        transition: width 0.3s ease, max-height 0.3s ease;
        max-height: 0;
        overflow: hidden;
    }

    /* Bottone per mostrare/nascondere i filtri */
    #toggle-filters-btn {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #4A90E2;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
    }

    /* Stile per menu attivo (filtri visibili) */
    .filters-container.show {
        display: block;
        width: 350px;
        padding: 20px;
        left: 50%;
        transform: translateX(-50%);
        max-height: 500px;
        border-radius: 10px;
    }

    .filters-container label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .filters-container input,
    .filters-container select {
        margin-bottom: 20px;
        padding: 5px;
        font-size: 16px;
    }

    /* Tema scuro per il menu */
    .dark-theme .filters-container {
        background-color: #333;
        color: #f1f1f1;
    }

    .search_bar_filtri {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}



/* Stile per schermi grandi (desktop) */
@media (min-width: 769px) {

    .filters-container {
        display: none; /* Nascondi di default */
    }

    .filters-container.show {
        display: flex; /* Mostra i filtri quando la classe 'show' è attiva */
        flex-direction: row;
        gap: 10px;
    }

    #searchInput {
        width: calc(100% - 120px);
        display: inline-block;
        vertical-align: middle;
    }

    #filter-btn {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        padding: 12px 20px;
        font-size: 16px;
        background-color: #4A90E2;
        color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #filter-btn:hover {
        background-color: #357ABD;
    }

    #toggle-filters-btn {
        display: none;
        /* Nascondi il pulsante sui desktop */
    }

    .filters-container #authorInput #typeSelect #tempoSelect {
        margin-right: 10px;
        position: relative;
        top: 7px;
    }

    .filters-container label,
    .filters-container input,
    .filters-container select {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
    }

    /* Contenitore per allineare etichette e input */
    .filters-container label {
        margin-right: 10px;
        font-weight: bold;
    }

    .filters-container input,
    .filters-container select {
        margin-right: 20px;
        padding: 5px;
        font-size: 16px;
    }

    /* Specifico per l'allineamento con Flexbox */
    .filters-container label,
    .filters-container input,
    .filters-container select {
        display: flex;
        align-items: center;
    }

    .filters-container label {
        width: 100px;
        /* Imposta una larghezza fissa per le etichette */
    }

    .filters-container input,
    .filters-container select {
        flex-grow: 1;
        width: calc(100% - 120px);
        /* Aggiusta la larghezza degli input rispetto alle etichette */
    }

    .search_bar_filtri {
        display: flex;
        flex-direction: row;
        width: 600px;
    }
}

.dark-theme .filters-container {
    color: #f1f1f1;
}


#filter_button_desktop {
    width: 20%;
    background-color: #4A90E2;
    color: white;
    border: none;
    height: 45px;
    margin-right: 20px;
    font-size: 16px;
    border-radius: 10px;
}

.letter-header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.filters-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.filters-container label {
    margin-right: 10px;
}

.filters-container input,
.filters-container select {
    margin-right: 20px;
}

.link-buttons {
    display: flex;
    justify-content: space-around;
    /* Distribuisce equamente lo spazio tra i bottoni */
    gap: 10px;
    margin-top: 10px;
}

.link-button,
.testo-button {
    padding: 5px 10px;
    text-decoration: none;
    background-color: #4A90E2;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    flex-grow: 1;
    text-align: center;
}

.link-button:hover,
.testo-button:hover {
    background-color: #0056b3;
}

.dark-theme .link-button {
    color: white;
}

.dark-theme .testo-button {
    color: white;
}