body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    padding: 0; /* Set padding to 0 */
    color: #333;
    background-color: var(--background-color);
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s ease-in-out;
}

.navbar h1 {
    font-size: 25px;
    color: white;
    margin: 0; /* Remove margin from the h1 */
}

.navbar button,
.navbar input[type="text"] {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent; /* Rimuove lo sfondo */
    transition: background-color 0.3s ease, transform 0.2s ease;
    min-width: 120px;
    font-size: 18px;
    font-weight: bolder;
}

.navbar button:hover {
    background-color: transparent; /* Sfondo trasparente */
    color: #c1bdbd; /* Cambia il colore del testo */
    transform: scale(1.05); /* Mantiene l'effetto di ingrandimento */
}

.navbar input[type="text"] {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    max-width: 250px;
    color: black;
    transition: max-width 0.3s ease;
    padding: 10px;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.navbar-buttons {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
    }

    .navbar h1 {
        margin-bottom: 10px;
    }

    .navbar-buttons {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-toggle {
        display: block;
        margin-bottom: 10px;
    }

    .navbar.active .navbar-buttons {
        display: flex;
    }

    .navbar input[type="text"] {
        max-width: 100%;
        margin-top: 10px;
    }
}

.responsive-container {
    margin-top: 20px;
    padding: 20px;
}

h1,
h2,
h3 {
    margin-bottom: 10px;
    color: black; /* Change the color for headings */
}

p {
    margin-bottom: 15px; /* Add margin for paragraphs */
}

.response-list {
    margin-left: 20px; /* Indent for lists */
}

.response-list b {
    font-weight: bold; /* Make response bold */
}
